{plugins, [rebar3_run]}.

{erl_opts, [debug_info]}.
{deps, [{jsx, "2.10.0"}]}.

{relx, [{release, {jt_log, "0.2.0"},
         [jt_log, inets, sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.
